{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

    {% block page_title %}
        {{ __('Sylius') }}
    {% endblock page_title %}

    {% block page_subtitle %}
        {{ __('Dashboard') }}
    {% endblock page_subtitle %}

    {% block page_main %}
        {% include '@SyliusBackend/_nav.twig' %}
        <div class="row">
            <div class="col-md-6">
                <h1>New customers</h1>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th>
                                <h4>
                                    <strong>Name</strong>
                                </h4>
                            </th>
                            <th colspan="2">
                                <h4>
                                    <strong>EMail</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in sylius.customers %}
                            <tr>
                                <th scope="row">
                                    <h5>
                                        {% if customer.first_name is defined %}
                                            <strong>{{customer.first_name}} {{customer.last_name}}</strong>
                                        {% else %}
                                            (Guest Checkout)
                                        {% endif %}
                                    </h5>
                                </th>

                                <th>
                                    {% if customer.email is defined %}
                                        <h5>{{customer.email}}</h5>
                                    {% endif %}
                                </th>
                                <td>
                                    <button type="button" class="btn btn-default">Show</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h1>Latest orders</h1>
                <table class="table">
                    <thead>
                        <tr class="active">
                            <th>
                                <h4>
                                    <strong>#</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Customer Name</strong>
                                </h4>
                            </th>
                            <th>
                                <h4>
                                    <strong>Items</strong>
                                </h4>
                            </th>
                            <th colspan="2">
                                <h4>
                                    <strong>Total</strong>
                                </h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orders in sylius.orders if orders.checkout_state == 'completed' %}
                            <tr>
                                <th scope="row">
                                    <h5>{{orders.number}}</h5>
                                </th>
                                <th>
                                    <h5>
                                        <strong>{{orders.shipping_address.first_name}} {{orders.shipping_address.first_name}} </strong>
                                    </h5>
                                </th>
                                <th>
                                    {{orders.items|length}}
                                </th>
                                <th>
                                    {{orders.total / 100}}
                                </th>
                                <td>
                                    <button type="button" class="btn btn-default">Show</button>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endblock page_main %}